// Red
$md-red-400: #ef5350;

// Purple
$md-purple-400: #ab47bc;

// Blue
$md-blue-400: #42a5f5;

// Green
$md-green-400: #66bb6a;

// Amber
$md-amber-400: #ffca28;

:host{
  display: flex;
  flex: 1;
  flex-direction: column;
}

.alert{
  color: $md-amber-400;
  background: #141414;
  display: flex;
  align-items: center;
  padding: 2rem;
  .message{
    margin-left: 2rem;
    h3{
      margin: 0 0 4px 0;
    }
    p{
      margin: 0;
    }
  }
}
mat-tab-group{
  flex: 1;
}

mat-tab{
  flex: 1;
  background: #ff0000;
}

.note{
  display: block;
  flex: 1;
  padding: 1rem;  font-family: 'Roboto Mono', monospace;
  font-size: 16px;
  font-weight: 200;
  outline: none;
  border: none;
  color: #fff;
  background: #343434;
  margin: .5rem;
}



.quiz, markdown{
  margin: 2rem;
  display: block;
}

.quiz{
  display: flex;
  .questions{
    flex: 1;
    margin-right: 2rem;
  }
}

.answers{
  padding:1rem 0;
  display: flex;
  flex-direction: column;
}

.answer{
  display: flex;
  align-items: center;
  &.correct{
    background: $md-green-400;
    text-shadow: 0 0 16px #000;
  }
  &.incorrect{
    background: $md-green-400;
    text-shadow: 0 0 16px #000;
  }
}

.helper-text{
  margin-left: 1rem;
  font-size: 12px;
}
.success{
  color: $md-green-400;
}
.danger{
  color: $md-red-400;
}

.result{
  width: 32px;
}

.score{
  padding-top: 20px;
}
