:host{
  display: flex;
  flex: 1;
  flex-direction: column;
}
textarea{
  display: block;
  flex: 1;
  padding: 1rem;  font-family: 'Roboto Mono', monospace;
  font-weight: 200;
  outline: none;
  border: none;
  background: #343434;
  color: #fff;
}
